@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body{
  height: 100vh;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar{
  display: none;
  
}
.hea {
  width: 100%;
  height: 100px;
  background-color: deepskyblue;
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
}
.appoin {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  border: 0;
  margin: 0;


}
.contm {
  display: flex;
  background-color: gainsboro;
}
#imgi {
  width: 850px;
  height: 560px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.c2 {
  background-color: #2e4f4f;
}
label {
  font-size: 25px;
}
#cont {
  padding: 15px;
  margin-top: 70px;
  font-size: large;
  width: 800px;
  height: 900px;
  padding-left: 90px;
}
.ming {
  flex: 1;
}
#cont {
  display: inline;
  font-family: "Tilt Neon", cursive;
}
.inst {
  font-family: "Tilt Neon", cursive;
}
.ftex {
  font-family: "Poppins", sans-serif;
}
.mtext {
  font-weight: 100px;

  font-family: "Poppins", sans-serif;
}
.as {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.ins {
  margin-top: 120px;
  margin-left: 150px;
}

input{
  height: 25px;
  border: none;
  outline: none;
  padding: 0px 7px 0px 7px;
  margin: 0;
  font-size: medium;
  border-radius: 10px;

}

/* 
@media screen and (max-width:1440px) {

  img{
    display: none;
  }

  .ins{
   
    
  }
  
} */