*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    transition: all .2s;
}

body::-webkit-scrollbar{
    display: none;
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}
body div{
    /* background-color: azure; */
    text-align: center;
}

body input{
    width: 150px;
    height: 50px;
    color: white;
    background-color: orange;
    border-radius: 15px;
    font-size: medium;
}

body input:hover{
    background-color: deepskyblue;
}